<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLCHBanLinhKien.Properties.Settings.QuanLyBanHangConnectionString" 
             connectionString="Data Source=DESKTOP-EBPD2D3\SQLEXPRESS;Initial Catalog=QLCHLinhKienDT;User ID=sa; Password = 123456;" 
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>