<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLCHBanLinhKien.Properties.Settings.QuanLyBanHangConnectionString" 
             connectionString="Data Source=LAPTOP-8GA3B18K\SQLEXPRESS;Initial Catalog=QLCHLinhKienDienTu;Integrated Security=True;Connect Timeout=30" 
             providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>